@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("variable.css");
body {
    font-family: 'Open Sans', sans-serif;
}
/*Defult*/
.btn-primary {
	color: #ffffff;
}
.btn-primary:focus, .btn-primary.focus {
	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
}
.navbar-toggler {
	margin-top: 0.75rem;
}
.navbar-toggler > i{
	color:var(--edu-primary);
}
/*Defult End*/
.img-100{
    width: 100%;
}
.section {
	padding: 4rem 0;
}
.titileContainer {
	text-align: center;
}
.titileContainer > h5 {
	color:var(--edu-primary);
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
	padding-bottom:3px;
}
.titileContainer > h3 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 30px;
}
.Benifits-section{ background-color: #ffffff;}
.benifits-wrap {
	box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.175);
	text-align: center;
	border-radius: 6px;
	margin: 1rem 0;
	overflow: hidden;
	min-height: 260px;
}
.benifits-image{ padding: 2rem;}
.benifits-content{padding: 2rem;}
.benifits-wrap h5 {
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	margin-top: 0.5rem;
}
.benifits-content h5 {
	margin-top: 0;
	margin-bottom: 1rem;
}
.benifits-content {
	padding: 2rem;
	background-color: var(--edu-primary);
	color: #fff;
}
.benifits-content .know-more {
	color: #fff;
	text-decoration: underline;
	font-size:14px;
}
.about-section p{ font-size:14px; color:#000;}
/* entire container, keeps perspective */




@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
    .table-section {
        overflow: hidden;
        overflow-x: auto;
    }
    .table-section .table {
        min-width: 992px;
    }
}
/*Navigation*/
.nav-top {
	background-color: #061d38;
	color: #fff;
	min-height: 30px;
	line-height: 30px;
}
.nav-top .contact-info {
	font-size: 14px;
}
.nav-top .contact-info > span {
	margin-right: 2rem;
}
.nav-top .contact-info > span i {
color: var(--edu-color-ffc412);
margin-right: 0.5rem;
}
.nav-top .contact-info > span:last-child {
	margin-right: 0;
}
.social-links span {
	margin-right: 1rem;
}
.social-links span:last-child {
	margin-right: 0;
}
.social-links a {
	color: #fff;
}
.social-links a:hover {
	color: var(--edu-color-ffc412);
}
.header-bot .row {
	min-height: 86px;
}
.navbar.navbar-default {
	float: left;
	padding: 0;
}
.top_nav_right {
  float: right;
}
.ban-top {
	/* background: #000; */
	padding: 0px 0;
	border-top: 1px solid #f2f3f5;
}
.navbar-nav > li {
	margin: 0 15px 0 0;
}
.nav-link {
	font-weight: 600;
	color: #000000;
	font-size: 14px;
}
.nav-item.active .nav-link {
	color: var(--edu-primary);
}
.menu--shylock .menu__link {
	position: relative;
	margin: 0;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.menu--shylock .menu__item:hover .menu__link::after, .menu--shylock .menu__item.active .menu__link::after {
	position: absolute;
	content: '';
	width: 100%;
	bottom: 0px;
	height: 4px;
	background-color: var(--edu-primary);
	left: 0;
}
.menu--shylock .menu__link::after {
	position: absolute;
	content: '';
	width: 0;
	transition: all .5s ease-in-out;
}

.State-dropdown {
	text-align: left;
  }
  .State-dropdown .btn-secondary span {
	display: block;
	color: #7b8ea3;
	font-size: 12px;
  }
  .State-dropdown .btn-secondary {
	background-color: #e6e9ed;
	border-color: #e6e9ed;
	color: #000;
	position: relative;
	border-radius: 0;
	width: 220px;
	text-align: left;
	font-size: 14px;
  }
  .State-dropdown .dropdown-toggle::after {
	position: absolute;
	right: 1rem;
	top: 50%;
  }
  .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
}
.btn-secondary:focus, .btn-secondary.focus {

	box-shadow: none;
}
.State-dropdown .btn-secondary:not(:disabled):not(.disabled):active, 
.State-dropdown .btn-secondary:not(:disabled):not(.disabled).active, 
.State-dropdown.show > .btn-secondary.dropdown-toggle {
	color: #000;
	background-color: #e6e9ed;
	border-color: #e6e9ed;
}
.State-dropdown .dropdown-menu {
	border-radius: 0;
	width: 100%;
	margin-top: 0;
}
.header-right .btn {
	min-width: 100px;
}
.header-serach {
	background-color: #e6e8eb;
	border-radius: 50px;
	overflow: hidden;
	padding: 5px 5px;
}
.header-serach .form-control {
	border: 0;
	background-color: transparent;
}
.header-serach .btn{ width: 100px;}
@media (min-width: 768px) and (max-width: 868px) { 
.header-serach .form-control {
	width: 165px;
}
}
@media  (max-width: 768px) { 
	.header-serach {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  .header-serach .form-control {
		width: 70%;
	  }
	  .header-serach .btn {
		width: 30%;
	  }
	  .header-middle {
		margin: 1rem 0;
	  }

	  .nav-top {
		margin-bottom: 1rem;
	}
	
.ban-top {
	position: relative;
  }
  .top_nav_right {
	position: absolute;
	right: 15px;
	top: 0;
}

  .navbar.navbar-default {
	float: none;
	padding-bottom: 13px;
}
.navbar-collapse {
	margin-top: 1.5rem;
}
.navbar-nav > li {
	margin: 0;
}
.navbar-nav .nav-link {
	text-align: center;
}
	}
@media (min-width: 320px) and (max-width: 576px) { 
	.header-serach {padding: 0 10px;}
	  .order-xs-0 {order: 0;}
	  .order-xs-1 {order: 1;}
	  .order-xs-2 {order: 2;}
	  .header-left {text-align: center;}
	.header-right {margin-bottom: 1rem;}
	.header-right .d-flex {justify-content: center;}
	.nav-top .row > div {text-align: center;}
 }
/*Navigation End*/
body{background:white;}




.fstsec{
    background: #fbfbfb;
    border-radius: 15px 15px 5px 5px;
    opacity: .9;}
    .sedsec {
        background-color: #fff;
        border-radius: 10px;}
        .myssdiv {
            border: 1px solid #f5f5f5;
            border-radius: 10px;
        }
        .myssdiv:hover {
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        .myssdiv img {
            height: 258px;
            border-radius: 10px 10px 0 0;
        }
      .select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}
.breadcrumb{
	background-color: 	 transparent;
	border: 1px;

}
.card-body{
	background-color: white;
}


 
  footer {
    position: ;
    height: 80px;
    bottom: 0;
    width: 100%;
}
/* dashbord */
.dashbord {
	background-color: #fafafb;
}
.card {
	background: var(--edu-white);
	-webkit-border-radius: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
	border: none;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
	box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
.card .card-header {
	padding: 0 20px;
	min-height: 60px;
	-ms-flex-align: center !important;
	align-items: center !important;
	border-bottom: 1px solid var(--edu-border-light);
	background-color: transparent;
}
.card-title {
	margin-bottom: 0;
}
.table {
	margin-bottom: 0;
}
/* dashbord end */

span.multiselect-native-select {
	position: relative
}
span.multiselect-native-select select {
	border: 0!important;
	clip: rect(0 0 0 0)!important;
	height: 1px!important;
	margin: -1px -1px -1px -3px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	left: 50%;
	top: 30px
}
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}
.multiselect-container .input-group {
	margin: 5px
}
.multiselect-container>li {
	padding: 0
}
.multiselect-container>li>a.multiselect-all label {
	font-weight: 700
}
.multiselect-container>li.multiselect-group label {
	margin: 0;
	padding: 3px 20px 3px 20px;
	height: 100%;
	font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
	cursor: pointer
}
.multiselect-container>li>a {
	padding: 0
}
.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 0 3px 30px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -20px;
	margin-right: 0
}
.searchmodal{position: relative;
  display: flex; 
  flex-direction: column;
  pointer-events: auto;
    background-color:white;  
    background-clip: padding-box;  
    outline: 0;
    box-shadow:0 0 0  !important}

 .animated {
    			-webkit-transition: height 0.2s;
				-moz-transition: height 0.2s;
				transition: height 0.2s;
			}
			
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fd804a;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #fd804a;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}
.switch input {
  display:none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #fd804a;
 
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
